In [7]:
import seaborn as sns 
# # print(sns.__version__)
planets = sns.load_dataset('planets', engine='python') 
print(planets.shape)  
print(planets.head())   # [1035 rows x 6 columns]

(1035, 6)
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
import pandas as pd
import numpy as np

In [7]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
print(ser)
print(ser.sum())

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64
2.811925491708157

In [13]:
df = pd.DataFrame({'A': rng.rand(5),
                  'B': rng.rand(5)})
print(df)
print(df.sum())   # 默认，按列计数
print(df.sum(axis=1))  # axis=1, 按行计数
print(df.mean(axis='columns'))   # 与axis=1等价

          A         B
0  0.921874  0.388677
1  0.088493  0.271349
2  0.195983  0.828738
3  0.045227  0.356753
4  0.325330  0.280935
A    1.576907
B    2.126452
dtype: float64
0    1.310552
1    0.359842
2    1.024720
3    0.401981
4    0.606265
dtype: float64
0    0.655276
1    0.179921
2    0.512360
3    0.200990
4    0.303132
dtype: float64

In [14]:
print(planets.dropna().describe())

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

# 分割、应用、组合

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                  'data': range(6)},
                 columns=['key', 'data'])
print(df)

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [4]:
print(df.groupby('key'))

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000020E381D2898>

In [5]:
print(df.groupby('key').sum())

     data
key
A       3
B       5
C       7

In [8]:
# 应用行星数据
print(planets.groupby('method').head())

                            method  number  orbital_period   mass  distance  \
0                  Radial Velocity       1      269.300000   7.10     77.40
1                  Radial Velocity       1      874.774000   2.21     56.95
2                  Radial Velocity       1      763.000000   2.60     19.84
3                  Radial Velocity       1      326.030000  19.40    110.62
4                  Radial Velocity       1      516.220000  10.50    119.47
29                         Imaging       1             NaN    NaN     45.52
30                         Imaging       1             NaN    NaN    165.00
31                         Imaging       1             NaN    NaN    140.00
32       Eclipse Timing Variations       1    10220.000000   6.05       NaN
33                         Imaging       1             NaN    NaN       NaN
34                         Imaging       1             NaN    NaN    145.00
37       Eclipse Timing Variations       2     5767.000000    NaN    130.72
38       Eclipse Timing Variations       2     3321.000000    NaN    130.72
39       Eclipse Timing Variations       2     5573.550000    NaN    500.00
40       Eclipse Timing Variations       2     2883.500000    NaN    500.00
91                         Transit       1        1.508956    NaN       NaN
92                         Transit       1        1.742994    NaN    200.00
93                         Transit       1        4.256800    NaN    680.00
94                         Transit       1        9.202050    NaN       NaN
95                         Transit       1        4.037896    NaN       NaN
113                     Astrometry       1      246.360000    NaN     20.77
537                     Astrometry       1     1016.000000    NaN     14.98
680      Transit Timing Variations       2      160.000000    NaN   2119.00
736      Transit Timing Variations       2       57.011000    NaN    855.00
749      Transit Timing Variations       3             NaN    NaN       NaN
787  Orbital Brightness Modulation       2        0.240104    NaN   1180.00
788  Orbital Brightness Modulation       2        0.342887    NaN   1180.00
792  Orbital Brightness Modulation       1        1.544929    NaN       NaN
813      Transit Timing Variations       2       22.339500    NaN    339.00
902                   Microlensing       1             NaN    NaN       NaN
903                   Microlensing       1             NaN    NaN       NaN
904                   Microlensing       1             NaN    NaN       NaN
905                   Microlensing       1             NaN    NaN   3600.00
906                   Microlensing       1     2780.000000    NaN       NaN
941                  Pulsar Timing       3       25.262000    NaN       NaN
942                  Pulsar Timing       3       66.541900    NaN       NaN
943                  Pulsar Timing       3       98.211400    NaN       NaN
944                  Pulsar Timing       1    36525.000000    NaN       NaN
945                  Pulsar Timing       1        0.090706    NaN   1200.00
958    Pulsation Timing Variations       1     1170.000000    NaN       NaN

     year
0    2006
1    2008
2    2011
3    2007
4    2009
29   2005
30   2007
31   2004
32   2009
33   2008
34   2013
37   2008
38   2008
39   2010
40   2010
91   2008
92   2008
93   2008
94   2008
95   2009
113  2013
537  2010
680  2011
736  2012
749  2014
787  2011
788  2011
792  2013
813  2013
902  2008
903  2008
904  2009
905  2013
906  2011
941  1992
942  1992
943  1994
944  2003
945  2011
958  2007

In [10]:
print(planets.groupby('method')['orbital_period'])
print(planets.groupby('method')['orbital_period'].median())

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x0000020E41E79BA8>
method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [11]:
# 按组迭代
for method, group in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [12]:
print(planets.groupby('method')['year'].describe())

                               count         mean       std     min      25%  \
method
Astrometry                       2.0  2011.500000  2.121320  2010.0  2010.75
Eclipse Timing Variations        9.0  2010.000000  1.414214  2008.0  2009.00
Imaging                         38.0  2009.131579  2.781901  2004.0  2008.00
Microlensing                    23.0  2009.782609  2.859697  2004.0  2008.00
Orbital Brightness Modulation    3.0  2011.666667  1.154701  2011.0  2011.00
Pulsar Timing                    5.0  1998.400000  8.384510  1992.0  1992.00
Pulsation Timing Variations      1.0  2007.000000       NaN  2007.0  2007.00
Radial Velocity                553.0  2007.518987  4.249052  1989.0  2005.00
Transit                        397.0  2011.236776  2.077867  2002.0  2010.00
Transit Timing Variations        4.0  2012.500000  1.290994  2011.0  2011.75

                                  50%      75%     max
method
Astrometry                     2011.5  2012.25  2013.0
Eclipse Timing Variations      2010.0  2011.00  2012.0
Imaging                        2009.0  2011.00  2013.0
Microlensing                   2010.0  2012.00  2013.0
Orbital Brightness Modulation  2011.0  2012.00  2013.0
Pulsar Timing                  1994.0  2003.00  2011.0
Pulsation Timing Variations    2007.0  2007.00  2007.0
Radial Velocity                2009.0  2011.00  2014.0
Transit                        2012.0  2013.00  2014.0
Transit Timing Variations      2012.5  2013.25  2014.0

In [13]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                  'data1': range(6),
                  'data2': rng.randint(0,10,6)},
                 columns=['key','data1','data2'])
print(df)

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [24]:
print(df.groupby('key').aggregate(['min', 'median', 'max', 'mean','std']))

    data1                          data2
      min median max mean      std   min median max mean       std
key
A       0    1.5   3  1.5  2.12132     3    4.0   5  4.0  1.414214
B       1    2.5   4  2.5  2.12132     0    3.5   7  3.5  4.949747
C       2    3.5   5  3.5  2.12132     3    6.0   9  6.0  4.242641

In [20]:
print(df.groupby('key').aggregate({'data1':'max','data2':'min'}))

     data1  data2
key
A        3      3
B        4      0
C        5      3

In [25]:
def filter_func(x):
    return x['data2'].std()>4
print(df.groupby('key').std())
print(df.groupby('key').filter(filter_func))

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641
  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [26]:
print(df.groupby('key').transform(lambda x: x - x.mean()))

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [31]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x
print(df)
print(df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [32]:
L = [0, 1, 0, 1, 2, 0]
print(df.groupby(L).sum())

   data1  data2
0      7     17
1      4      3
2      4      7

In [34]:
df1 = df.set_index('key')
mapping = {'A':'vovel', 'B':'consonant', 'C': 'consonant'}
print(df1)
print(df1.groupby(mapping).sum())

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9
           data1  data2
consonant     12     19
vovel          3      8

In [35]:
print(df1.groupby(str.lower).mean())

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0

In [37]:
print(df1.groupby([mapping, str.lower]).mean())
print(df1.groupby([str.lower,mapping]).mean())

             data1  data2
consonant b    2.5    3.5
          c    3.5    6.0
vovel     a    1.5    4.0
             data1  data2
a vovel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [42]:
# 应用行星数据
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
print(planets.groupby(['method', decade])['number'].sum())
print('--------------------------------------------------------------')
print(planets.groupby(['method', decade])['number'].sum().unstack())

method                         decade
Astrometry                     2010s       2
Eclipse Timing Variations      2000s       5
                               2010s      10
Imaging                        2000s      29
                               2010s      21
Microlensing                   2000s      12
                               2010s      15
Orbital Brightness Modulation  2010s       5
Pulsar Timing                  1990s       9
                               2000s       1
                               2010s       1
Pulsation Timing Variations    2000s       1
Radial Velocity                1980s       1
                               1990s      52
                               2000s     475
                               2010s     424
Transit                        2000s      64
                               2010s     712
Transit Timing Variations      2010s       9
Name: number, dtype: int64
--------------------------------------------------------------
decade                         1980s  1990s  2000s  2010s
method
Astrometry                       NaN    NaN    NaN    2.0
Eclipse Timing Variations        NaN    NaN    5.0   10.0
Imaging                          NaN    NaN   29.0   21.0
Microlensing                     NaN    NaN   12.0   15.0
Orbital Brightness Modulation    NaN    NaN    NaN    5.0
Pulsar Timing                    NaN    9.0    1.0    1.0
Pulsation Timing Variations      NaN    NaN    1.0    NaN
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          NaN    NaN   64.0  712.0
Transit Timing Variations        NaN    NaN    NaN    9.0