In [2]:
import numpy as np
import pandas as pd
pop = pd.read_csv('../data/state-population.csv')
areas = pd.read_csv('../data/state-areas.csv')
abbrevs = pd.read_csv('../data/state-abbrevs.csv')
print(pop)    # [2544 rows x 4 columns]
print('----------------------------------------------------------------')
# print(areas)
print('----------------------------------------------------------------')
print(abbrevs)

----------------------------------------------------------------
----------------------------------------------------------------

In [11]:
pop1 = pd.merge(pop, abbrevs, how='outer', left_on='state/region', right_on='abbreviation')
# print(pop1)
#      state/region     ages  year   population    state abbreviation
# 0              AL  under18  2012    1117489.0  Alabama           AL
# 1              AL    total  2012    4817528.0  Alabama           AL
# 2              AL  under18  2010    1130966.0  Alabama           AL
# 3              AL    total  2010    4785570.0  Alabama           AL
# 4              AL  under18  2011    1125763.0  Alabama           AL

# 丢弃重复信息
pop1 = pop1.drop('abbreviation', axis=1)
print(pop1.head())
# 检查是否有丢失值
print(pop1.isnull().any())

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama
state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [15]:
# 查看丢失值
print(pop1[pop1['population'].isnull()].head())

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN

In [19]:
print(pop1.loc[pop1['state'].isnull(), 'state/region'].unique())

['PR' 'USA']

In [20]:
pop1.loc[pop1['state/region']=='PR', 'state'] = 'Puerto Rico'
pop1.loc[pop1['state/region']=='USA', 'state'] = 'United State'
print(pop1.isnull().any())

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [21]:
pop_merged_all = pd.merge(pop1, areas, on='state', how='left')
print(pop_merged_all)

     state/region     ages  year   population         state  area (sq. mi)
0              AL  under18  2012    1117489.0       Alabama        52423.0
1              AL    total  2012    4817528.0       Alabama        52423.0
2              AL  under18  2010    1130966.0       Alabama        52423.0
3              AL    total  2010    4785570.0       Alabama        52423.0
4              AL  under18  2011    1125763.0       Alabama        52423.0
5              AL    total  2011    4801627.0       Alabama        52423.0
6              AL    total  2009    4757938.0       Alabama        52423.0
7              AL  under18  2009    1134192.0       Alabama        52423.0
8              AL  under18  2013    1111481.0       Alabama        52423.0
9              AL    total  2013    4833722.0       Alabama        52423.0
10             AL    total  2007    4672840.0       Alabama        52423.0
11             AL  under18  2007    1132296.0       Alabama        52423.0
12             AL    total  2008    4718206.0       Alabama        52423.0
13             AL  under18  2008    1134927.0       Alabama        52423.0
14             AL    total  2005    4569805.0       Alabama        52423.0
15             AL  under18  2005    1117229.0       Alabama        52423.0
16             AL    total  2006    4628981.0       Alabama        52423.0
17             AL  under18  2006    1126798.0       Alabama        52423.0
18             AL    total  2004    4530729.0       Alabama        52423.0
19             AL  under18  2004    1113662.0       Alabama        52423.0
20             AL    total  2003    4503491.0       Alabama        52423.0
21             AL  under18  2003    1113083.0       Alabama        52423.0
22             AL    total  2001    4467634.0       Alabama        52423.0
23             AL  under18  2001    1120409.0       Alabama        52423.0
24             AL    total  2002    4480089.0       Alabama        52423.0
25             AL  under18  2002    1116590.0       Alabama        52423.0
26             AL  under18  1999    1121287.0       Alabama        52423.0
27             AL    total  1999    4430141.0       Alabama        52423.0
28             AL    total  2000    4452173.0       Alabama        52423.0
29             AL  under18  2000    1122273.0       Alabama        52423.0
...           ...      ...   ...          ...           ...            ...
2514          USA  under18  1999   71946051.0  United State            NaN
2515          USA    total  2000  282162411.0  United State            NaN
2516          USA  under18  2000   72376189.0  United State            NaN
2517          USA    total  1999  279040181.0  United State            NaN
2518          USA    total  2001  284968955.0  United State            NaN
2519          USA  under18  2001   72671175.0  United State            NaN
2520          USA    total  2002  287625193.0  United State            NaN
2521          USA  under18  2002   72936457.0  United State            NaN
2522          USA    total  2003  290107933.0  United State            NaN
2523          USA  under18  2003   73100758.0  United State            NaN
2524          USA    total  2004  292805298.0  United State            NaN
2525          USA  under18  2004   73297735.0  United State            NaN
2526          USA    total  2005  295516599.0  United State            NaN
2527          USA  under18  2005   73523669.0  United State            NaN
2528          USA    total  2006  298379912.0  United State            NaN
2529          USA  under18  2006   73757714.0  United State            NaN
2530          USA    total  2007  301231207.0  United State            NaN
2531          USA  under18  2007   74019405.0  United State            NaN
2532          USA    total  2008  304093966.0  United State            NaN
2533          USA  under18  2008   74104602.0  United State            NaN
2534          USA  under18  2013   73585872.0  United State            NaN
2535          USA    total  2013  316128839.0  United State            NaN
2536          USA    total  2009  306771529.0  United State            NaN
2537          USA  under18  2009   74134167.0  United State            NaN
2538          USA  under18  2010   74119556.0  United State            NaN
2539          USA    total  2010  309326295.0  United State            NaN
2540          USA  under18  2011   73902222.0  United State            NaN
2541          USA    total  2011  311582564.0  United State            NaN
2542          USA  under18  2012   73708179.0  United State            NaN
2543          USA    total  2012  313873685.0  United State            NaN

[2544 rows x 6 columns]

In [26]:
# 检查缺失值
# print(pop_merged_all.isnull().any())
# print(pop_merged_all[pop_merged_all['area (sq. mi)'].isnull()])
pop_merged_all.dropna(inplace=True, axis=0)
print(pop_merged_all.isnull().any())

state/region     False
ages             False
year             False
population       False
state            False
area (sq. mi)    False
dtype: bool

In [28]:
print(pop_merged_all.head())
pop_merged_all.to_csv('../outputfiles/每个各州人口和面积数据更新final.csv')

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

In [47]:
data2010 = pop_merged_all.query("ages=='total' & year==2010")
print(data2010.head())

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

In [48]:
# 重置索引
data2010.set_index('state', inplace=True)
print(data2010.head())

           state/region   ages  year  population  area (sq. mi)
state
Alabama              AL  total  2010   4785570.0        52423.0
Alaska               AK  total  2010    713868.0       656425.0
Arizona              AZ  total  2010   6408790.0       114006.0
Arkansas             AR  total  2010   2922280.0        53182.0
California           CA  total  2010  37333601.0       163707.0

In [52]:
density = data2010['population']/data2010['area (sq. mi)']
density.sort_values(ascending=False, inplace=True)
print(density.head())
print(density.tail())

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64
state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64