In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
titanic = sns.load_dataset('titanic', engine='python')
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [2]:
print(titanic.groupby('sex')['survived'].mean())

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [4]:
print(titanic.groupby(['sex','class'])['survived'].aggregate('mean').unstack())

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [5]:
print(titanic.pivot_table('survived', index='sex', columns='class'))

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [28]:
# 多级透视表
age = pd.cut(titanic['age'], (0, 18, 35, 80))
# print(age)
print(titanic.pivot_table('survived', index=['sex', age], columns='class', dropna=False))

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 35]  0.972222  0.925000  0.500000
       (35, 80]  0.973684  0.850000  0.200000
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 35]  0.500000  0.074074  0.155844
       (35, 80]  0.318182  0.066667  0.062500

In [31]:
fare = pd.qcut(titanic['fare'], 3)
print(titanic.pivot_table('survived', index=['sex', age], columns=['class', fare], dropna=False))

class                     First                                        Second  \
fare            (-0.001, 8.662] (8.662, 26.0] (26.0, 512.329] (-0.001, 8.662]
sex    age
female (0, 18]              NaN           NaN        0.909091             NaN
       (18, 35]             NaN           NaN        0.972222             NaN
       (35, 80]             NaN           1.0        0.972222             NaN
male   (0, 18]              NaN           NaN        0.800000             NaN
       (18, 35]             0.0           NaN        0.517241             NaN
       (35, 80]             0.0           0.0        0.344262             NaN

class                                                   Third                \
fare            (8.662, 26.0] (26.0, 512.329] (-0.001, 8.662] (8.662, 26.0]
sex    age
female (0, 18]       1.000000             1.0        0.700000      0.583333
       (18, 35]      0.906250             1.0        0.550000      0.478261
       (35, 80]      0.823529             1.0        0.000000      0.285714
male   (0, 18]       0.500000             0.8        0.166667      0.500000
       (18, 35]      0.093023             0.0        0.142857      0.129032
       (35, 80]      0.076923             0.0        0.078947      0.000000

class
fare            (26.0, 512.329]
sex    age
female (0, 18]         0.111111
       (18, 35]        0.000000
       (35, 80]        0.142857
male   (0, 18]         0.052632
       (18, 35]        0.750000
       (35, 80]        0.000000