In [1]:
import pandas as pd
import numpy as np

In [13]:
idx = pd.MultiIndex.from_arrays([['上海','上海','成都', '成都', '广州',  '广州','深圳','深圳'], 
                                 [2018, 2019, 2018,2019,2018,2019,2017,2017]])
print(idx)
data = pd.Series([1000, 1010, 900, 910, 800, 810, 700, 720], index=idx)
print(data)

MultiIndex(levels=[['上海', '广州', '成都', '深圳'], [2017, 2018, 2019]],
           labels=[[0, 0, 2, 2, 1, 1, 3, 3], [1, 2, 1, 2, 1, 2, 0, 0]])
上海  2018    1000
    2019    1010
成都  2018     900
    2019     910
广州  2018     800
    2019     810
深圳  2017     700
    2017     720
dtype: int64

In [16]:
idx = pd.MultiIndex.from_tuples([('上海', 2018), ('上海', 2019), 
                                 ('东京', 2018), ('东京', 2015), 
                                 ('台北', 2016), ('台北', 2018), 
                                 ('纽约', 2018), ('纽约', 2017)])
pop = [1000, 1010, 900, 910, 800, 810, 700, 720]
d = pd.Series(pop, index=idx)
print(idx)
print(d)

MultiIndex(levels=[['上海', '东京', '台北', '纽约'], [2015, 2016, 2017, 2018, 2019]],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [3, 4, 3, 0, 1, 3, 3, 2]])
上海  2018    1000
    2019    1010
东京  2018     900
    2015     910
台北  2016     800
    2018     810
纽约  2018     700
    2017     720
dtype: int64

In [21]:
idnx = pd.MultiIndex.from_product([['上海', '东京', '台北', '纽约'], [2017, 2018]])
print(idnx)
p = [1000, 1010, 900, 910, 800, 810, 700, 720]
dd = pd.Series(p, index=idnx)
dd.index.names = ['city', 'year']
print(dd)

MultiIndex(levels=[['上海', '东京', '台北', '纽约'], [2017, 2018]],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]])
city  year
上海    2017    1000
      2018    1010
东京    2017     900
      2018     910
台北    2017     800
      2018     810
纽约    2017     700
      2018     720
dtype: int64

In [25]:
# 多级列索引
row = pd.MultiIndex.from_product([['上海', '东京', '台北', '纽约'], [2017, 2018]])
data = pd.DataFrame(np.random.randint(100000,300000,size=(8,2)), index=row, columns=['人口(千人)','人均收入'])
data.index.names = ['城市', '年份']
data['人口(千人)']=data['人口(千人)']/100
print(data)

          人口(千人)    人均收入
城市 年份
上海 2017  2727.98  126449
   2018  2775.58  231477
东京 2017  2637.66  265795
   2018  1011.97  125761
台北 2017  1757.36  168350
   2018  1078.31  232925
纽约 2017  2506.68  196587
   2018  1624.29  110413

In [34]:
print(dd['台北', 2017])
print(dd['纽约'])
print(dd[:, 2018])
print(dd[dd>=900])
print(dd[['台北', '东京']])

800
year
2017    700
2018    720
dtype: int64
city
上海    1010
东京     910
台北     810
纽约     720
dtype: int64
city  year
上海    2017    1000
      2018    1010
东京    2017     900
      2018     910
dtype: int64
city  year
东京    2017    900
      2018    910
台北    2017    800
      2018    810
dtype: int64

In [47]:
index = pd.MultiIndex.from_product([[2018, 2019], [1,2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['张三', '李四', '王五'], ['HR', 'TEMP']], names=['subject', 'type'])
data = np.abs(np.round(np.random.randn(4, 6)*10, 2))
heal_data = pd.DataFrame(data, index=index, columns=columns)
print(heal_data)
print(index)

subject        张三            李四            王五
type           HR   TEMP     HR   TEMP     HR   TEMP
year visit
2018 1      11.18  14.22  19.31  11.31   7.83   2.61
     2       7.86   5.97   7.21  13.80  11.16   0.06
2019 1       1.40   5.24  14.51   0.27  30.88   2.29
     2       5.76  12.85   5.81  18.45  11.15  12.67
MultiIndex(levels=[[2018, 2019], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['year', 'visit'])

In [52]:
print(heal_data[['张三', '王五']])
print(heal_data.loc[2018])
print(heal_data.loc[2018, 1])
print(heal_data.loc[2018, :])
print(heal_data.iloc[:2,:2])

subject        张三            王五
type           HR   TEMP     HR   TEMP
year visit
2018 1      11.18  14.22   7.83   2.61
     2       7.86   5.97  11.16   0.06
2019 1       1.40   5.24  30.88   2.29
     2       5.76  12.85  11.15  12.67
subject     张三            李四            王五
type        HR   TEMP     HR   TEMP     HR  TEMP
visit
1        11.18  14.22  19.31  11.31   7.83  2.61
2         7.86   5.97   7.21  13.80  11.16  0.06
subject  type
张三       HR      11.18
         TEMP    14.22
李四       HR      19.31
         TEMP    11.31
王五       HR       7.83
         TEMP     2.61
Name: (2018, 1), dtype: float64
subject     张三            李四            王五
type        HR   TEMP     HR   TEMP     HR  TEMP
visit
1        11.18  14.22  19.31  11.31   7.83  2.61
2         7.86   5.97   7.21  13.80  11.16  0.06
subject        张三
type           HR   TEMP
year visit
2018 1      11.18  14.22
     2       7.86   5.97

In [53]:
idx = pd.IndexSlice
print(heal_data.loc[idx[:,1], idx[:, 'HR']])

subject        张三     李四     王五
type           HR     HR     HR
year visit
2018 1      11.18  19.31   7.83
2019 1       1.40  14.51  30.88

In [58]:
data_mean = heal_data.mean(level='year')
print(data_mean)
data_mean_col = heal_data.mean(level='type', axis=1)
print(data_mean_col)

subject    张三             李四              王五
type       HR    TEMP     HR    TEMP      HR   TEMP
year
2018     9.52  10.095  13.26  12.555   9.495  1.335
2019     3.58   9.045  10.16   9.360  21.015  7.480
type               HR       TEMP
year visit
2018 1      12.773333   9.380000
     2       8.743333   6.610000
2019 1      15.596667   2.600000
     2       7.573333  14.656667

In [65]:
# 数据合并concat
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)
d = make_df('ABC', range(3))
print(d)
print(d.iloc[0])
print(list(np.concatenate([d.iloc[0], d.iloc[1]])))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
A    A0
B    B0
C    C0
Name: 0, dtype: object
['A0', 'B0', 'C0', 'A1', 'B1', 'C1']

In [67]:
df1 = make_df('AB', [1,2])
df2 = make_df('AB', [3,4])
df3 = pd.concat([df1, df2])
print(df1);print(df2);print(df3)

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [75]:
df4 = make_df('AB', [0,1])
df5 = make_df('CD', [0,1])
print(pd.concat([df4, df5], axis=1))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [77]:
# 数据连接merge()
df1 = pd.DataFrame({'employee': ['bob', 'jake', 'lisa', 'sue'], 
                    'group': ['accounting', 'engineering', 'engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['lisa', 'bob', 'jake', 'sue'], 
                    'hire_year': [2004, 2008, 2012, 2018]})
print(df1)
print(df2)

  employee        group
0      bob   accounting
1     jake  engineering
2     lisa  engineering
3      sue           HR
  employee  hire_year
0     lisa       2004
1      bob       2008
2     jake       2012
3      sue       2018

In [81]:
# 一对一连接
df3 = pd.merge(df1, df2)
print(df3)

  employee        group  hire_year
0      bob   accounting       2008
1     jake  engineering       2012
2     lisa  engineering       2004
3      sue           HR       2018

In [82]:
# 多对一连接
df4 = pd.DataFrame({'group': ['accounting', 'engineering', 'HR'], 
                    'supervisor': ['carl', 'guido', 'steve']})
print(df4)
df5 = pd.merge(df3, df4)
print(df5)

         group supervisor
0   accounting       carl
1  engineering      guido
2           HR      steve
  employee        group  hire_year supervisor
0      bob   accounting       2008       carl
1     jake  engineering       2012      guido
2     lisa  engineering       2004      guido
3      sue           HR       2018      steve

In [88]:
# 多对多连接
df6 = pd.DataFrame({'group': ['accounting', 'accounting', 'engineering', 'engineering', 'HR', 'HR'], 
                   'skills': ['math', 'spreadsheets', 'coding', 'spreadsheets', 'organization','linux']})
print(df6)
df7 = pd.merge(df1, df6)
print(df7)
print(pd.merge(df5, df6))

         group        skills
0   accounting          math
1   accounting  spreadsheets
2  engineering        coding
3  engineering  spreadsheets
4           HR  organization
5           HR         linux
  employee        group        skills
0      bob   accounting          math
1      bob   accounting  spreadsheets
2     jake  engineering        coding
3     jake  engineering  spreadsheets
4     lisa  engineering        coding
5     lisa  engineering  spreadsheets
6      sue           HR  organization
7      sue           HR         linux
  employee        group  hire_year supervisor        skills
0      bob   accounting       2008       carl          math
1      bob   accounting       2008       carl  spreadsheets
2     jake  engineering       2012      guido        coding
3     jake  engineering       2012      guido  spreadsheets
4     lisa  engineering       2004      guido        coding
5     lisa  engineering       2004      guido  spreadsheets
6      sue           HR       2018      steve  organization
7      sue           HR       2018      steve         linux

In [90]:
print(pd.merge(df1, df2, on='employee'))

  employee        group  hire_year
0      bob   accounting       2008
1     jake  engineering       2012
2     lisa  engineering       2004
3      sue           HR       2018

In [97]:
df8 = pd.DataFrame({'name': ['lisa', 'bob', 'jake', 'sue'], 
                    'salary': [80000, 200800, 20122, 92018]})
df9 = pd.merge(df1, df8, left_on='employee', right_on='name').drop('name', axis=1)
print(df9)

  employee        group  salary
0      bob   accounting  200800
1     jake  engineering   20122
2     lisa  engineering   80000
3      sue           HR   92018

In [98]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
print(pd.merge(df1a, df2a, left_index=True, right_index=True))

                group  hire_year
employee
bob        accounting       2008
jake      engineering       2012
lisa      engineering       2004
sue                HR       2018

In [99]:
print(df1a.join(df2a))

                group  hire_year
employee
bob        accounting       2008
jake      engineering       2012
lisa      engineering       2004
sue                HR       2018

In [100]:
df10 = pd.DataFrame({'name': ['peter', 'paul', 'mary'], 
                   'food': ['fist', 'beans', 'bread']},
                   columns=['name', 'food'])
df11 = pd.DataFrame({'name': ['mary', 'joseph'],
                   'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])
print(pd.merge(df10, df11, how='outer'))
print(pd.merge(df10, df11, how='inner'))

     name   food drink
0   peter   fist   NaN
1    paul  beans   NaN
2    mary  bread  wine
3  joseph    NaN  beer
   name   food drink
0  mary  bread  wine