In [5]:
import pandas as pd
import numpy as np

In [11]:
s = pd.Series([1.5, 2.7, 4, 9, 8.8], index=['a', 'b', 'c', 'd', 'e'])
print(s)   
print(s.index)   # RangeIndex(start=0, stop=5, step=1)
print(s.shape)   # (5,)
print(s.values)
print(s[2])
print(s[[0,2,4]])

a    1.5
b    2.7
c    4.0
d    9.0
e    8.8
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
(5,)
[1.5 2.7 4.  9.  8.8]
4.0
a    1.5
c    4.0
e    8.8
dtype: float64

In [12]:
print(s['a']==s[0])

True

In [17]:
data = pd.Series({'北京':139399, '成都':110009, '上海':169987})
print(data)
print(data['成都']==data[1])
print(data[-3:-1])

北京    139399
成都    110009
上海    169987
dtype: int64
True
北京    139399
成都    110009
dtype: int64

In [22]:
city = data.index
salary = data.values
df = pd.DataFrame({'city': city, 'm_salary': salary})
print(df)
print(df['city'])
print(df.index)
print(df.columns)

  city  m_salary
0   北京    139399
1   成都    110009
2   上海    169987
0    北京
1    成都
2    上海
Name: city, dtype: object
RangeIndex(start=0, stop=3, step=1)
Index(['city', 'm_salary'], dtype='object')

In [26]:
idx = pd.Index([2,5,9,15,25])
print(idx)
print(idx[:])
print(idx[:3])
print(idx.size, idx.ndim, idx.shape, idx.values)

Int64Index([2, 5, 9, 15, 25], dtype='int64')
Int64Index([2, 5, 9, 15, 25], dtype='int64')
Int64Index([2, 5, 9], dtype='int64')
5 1 (5,) [ 2  5  9 15 25]

In [29]:
idx1 = pd.Index([1,3,6,9,10,2,15])
idx2 = pd.Index([2,5,6,9,11,15,22])
print(idx1 & idx2)   # 交集
print(idx1 | idx2)
print(idx2 - idx1)
print(idx2 ^ idx1)   # 抑或=A与B的并集减去A与B的交集
print(idx1.intersection(idx2))    # 交集

Int64Index([6, 9, 2, 15], dtype='int64')
Int64Index([1, 2, 3, 5, 6, 9, 10, 11, 15, 22], dtype='int64')
Int64Index([1, 2, 0, 0, 1, 13, 7], dtype='int64')
Int64Index([1, 3, 5, 10, 11, 22], dtype='int64')
Int64Index([6, 9, 2, 15], dtype='int64')

In [35]:
data = pd.Series({'北京':139399, '成都':110009, '上海':169987})
print(list(data.keys()))
print(list(data.items()))
print(data.values)

['北京', '成都', '上海']
[('北京', 139399), ('成都', 110009), ('上海', 169987)]
[139399 110009 169987]

In [60]:
data = pd.Series({'北京':139399, '成都':110009, '上海':169987, '深圳': 189983, '广州': 159987, '武汉': 100991, '南京': 105671})
city = data.index
salary = data.values
df = pd.DataFrame({'city': city, 'm_salary': salary})
print(df)
print('----------------------------------------')
print('----------------------------------------')
print(list(df.keys()))
print('----------------------------------------')
print('----------------------------------------')
print(list(df.items()))
print('----------------------------------------')
print('----------------------------------------')
print(df.values)
print('----------------------------------------')
print('----------------------------------------')
df['m_salary'].loc[5]= 99889
print(df)

  city  m_salary
0   北京    139399
1   成都    110009
2   上海    169987
3   深圳    189983
4   广州    159987
5   武汉    100991
6   南京    105671
----------------------------------------
----------------------------------------
['city', 'm_salary']
----------------------------------------
----------------------------------------
[('city', 0    北京
1    成都
2    上海
3    深圳
4    广州
5    武汉
6    南京
Name: city, dtype: object), ('m_salary', 0    139399
1    110009
2    169987
3    189983
4    159987
5    100991
6    105671
Name: m_salary, dtype: int64)]
----------------------------------------
----------------------------------------
[['北京' 139399]
 ['成都' 110009]
 ['上海' 169987]
 ['深圳' 189983]
 ['广州' 159987]
 ['武汉' 100991]
 ['南京' 105671]]
----------------------------------------
----------------------------------------
  city  m_salary
0   北京    139399
1   成都    110009
2   上海    169987
3   深圳    189983
4   广州    159987
5   武汉     99889
6   南京    105671

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [48]:
print(df.city is df['city'])

True

In [62]:
df['平均月薪'] = 1.0* df['m_salary']/12
print(df)

  city  m_salary          平均月薪
0   北京    139399  11616.583333
1   成都    110009   9167.416667
2   上海    169987  14165.583333
3   深圳    189983  15831.916667
4   广州    159987  13332.250000
5   武汉     99889   8324.083333
6   南京    105671   8805.916667

In [63]:
print(df.values)

[['北京' 139399 11616.583333333334]
 ['成都' 110009 9167.416666666666]
 ['上海' 169987 14165.583333333334]
 ['深圳' 189983 15831.916666666666]
 ['广州' 159987 13332.25]
 ['武汉' 99889 8324.083333333334]
 ['南京' 105671 8805.916666666666]]

In [64]:
print(df.T.values)

[['北京' '成都' '上海' '深圳' '广州' '武汉' '南京']
 [139399 110009 169987 189983 159987 99889 105671]
 [11616.583333333334 9167.416666666666 14165.583333333334
  15831.916666666666 13332.25 8324.083333333334 8805.916666666666]]

In [71]:
print(df.iloc[:3, :])
print(df.loc[:'武汉', 'city':'m_salary'])

  city  m_salary          平均月薪
0   北京    139399  11616.583333
1   成都    110009   9167.416667
2   上海    169987  14165.583333
  city  m_salary
0   北京    139399
1   成都    110009
2   上海    169987
3   深圳    189983
4   广州    159987
5   武汉     99889
6   南京    105671

In [74]:
print(df.loc[df.m_salary<100000, ['m_salary', 'city', '平均月薪']])

   m_salary city         平均月薪
5     99889   武汉  8324.083333

In [77]:
# 把成都的年薪改为121990
df.iloc[1,1] = 121990
print(df['m_salary'][1])

121990

In [78]:
print(df[1:5])

  city  m_salary           平均月薪
1   成都    121990  121990.000000
2   上海    169987   14165.583333
3   深圳    189983   15831.916667
4   广州    159987   13332.250000

In [79]:
print(df[df.m_salary>120000])

  city  m_salary           平均月薪
0   北京    139399   11616.583333
1   成都    121990  121990.000000
2   上海    169987   14165.583333
3   深圳    189983   15831.916667
4   广州    159987   13332.250000

In [85]:
ser = pd.Series(np.random.randint(0, 10, 5))
df = pd.DataFrame(np.random.randint(0, 10, (4,4)), columns=['a', 'b', 'c', 'd'])
print(ser)
print('------------------------------')
print(df)
print('------------------------------')
print(np.exp(ser))
print('------------------------------')
print(np.sin(df*4/np.pi+np.pi/2))

0    4
1    9
2    8
3    9
4    8
dtype: int32
------------------------------
   a  b  c  d
0  6  6  2  0
1  0  8  7  1
2  9  5  2  3
3  9  4  2  7
------------------------------
0      54.598150
1    8103.083928
2    2980.957987
3    8103.083928
4    2980.957987
dtype: float64
------------------------------
          a         b         c         d
0  0.212902  0.212902 -0.828085  1.000000
1  1.000000 -0.724051 -0.871717  0.293185
2  0.447155  0.996556 -0.828085 -0.778750
3  0.447155  0.371449 -0.828085 -0.871717

In [86]:
pop = pd.Series({'江苏': 134, '浙江': 110, '广东': 199, '山东': 121})
gdp = pd.Series({'北京': 1559900, '浙江': 12489877, '上海': 1689090, '江苏': 15678993, '深圳': 2091356, '山东': 14567818})
print(gdp/pop)

上海              NaN
北京              NaN
山东    120395.190083
广东              NaN
江苏    117007.410448
浙江    113544.336364
深圳              NaN
dtype: float64

In [92]:
print(gdp.divide(pop, fill_value=0))

上海     1689090.0
北京     1559900.0
山东    14567939.0
广东         199.0
江苏    15679127.0
浙江    12489987.0
深圳     2091356.0
dtype: float64

In [6]:
a = pd.DataFrame(np.random.randint(0, 100, (3,3)), columns=list('ABC'))
b = pd.DataFrame(np.random.randint(0, 1000, (4,5)), columns=list('BDEAC'))
print(a)
print('------------------------------')
print(b)
print('------------------------------')
print(a + b)

    A   B   C
0  28  26  20
1   7  28  58
2  70  57  24
------------------------------
     B    D    E    A    C
0  556   63  337  567   45
1   72  226    7  111  422
2  315  615  226  697  429
3  881  208  276  206   69
------------------------------
       A      B      C   D   E
0  595.0  582.0   65.0 NaN NaN
1  118.0  100.0  480.0 NaN NaN
2  767.0  372.0  453.0 NaN NaN
3    NaN    NaN    NaN NaN NaN

In [7]:
fill = a.stack().mean()
print(fill)

35.333333333333336

In [8]:
print(a.add(b, fill_value=fill))

            A           B           C           D           E
0  595.000000  582.000000   65.000000   98.333333  372.333333
1  118.000000  100.000000  480.000000  261.333333   42.333333
2  767.000000  372.000000  453.000000  650.333333  261.333333
3  241.333333  916.333333  104.333333  243.333333  311.333333

In [19]:
rng = np.random.RandomState(42)
x = rng.randint(10, size=(3,4))
print(x)
print(x-x[1])

[[6 3 7 4]
 [6 9 2 6]
 [7 4 3 7]]
[[ 0 -6  5 -2]
 [ 0  0  0  0]
 [ 1 -5  1  1]]

In [21]:
# 处理缺失值：python对象类型的缺失值None
v = np.array([1,None, 3,4])
print(v)
print(v.dtype)    # object

[1 None 3 4]
object

In [25]:
vv = np.array([1, np.nan, 3, 4])
print(vv.dtype)   #  float64
print(vv.sum(), vv.max())
print(np.nansum(vv), np.nanmax(vv), np.nanmean(vv))

float64
nan nan
8.0 4.0 2.6666666666666665

C:\Users\清水木华\AppData\Roaming\Python\Python36\site-packages\numpy\core\_methods.py:28: RuntimeWarning: invalid value encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial)

In [28]:
data = pd.Series([1, None, 2, 3, np.nan, 'hello'])
print(data)

0        1
1     None
2        2
3        3
4      NaN
5    hello
dtype: object

In [34]:
print(data.isnull())
print(data.notnull())
print(data[data.notnull()])
print(data[data.isnull()])
print(data.dropna())
print(data.fillna(0))

0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool
0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool
0        1
2        2
3        3
5    hello
dtype: object
1    None
4     NaN
dtype: object
0        1
2        2
3        3
5    hello
dtype: object
0        1
1        0
2        2
3        3
4        0
5    hello
dtype: object

In [40]:
d = pd.DataFrame([[1,2,np.nan],
                 [3,0.25,2.5],
                 [np.nan, 100, -15]], columns=list('ACf'))
print(d)
print(d.dropna())
print(d.dropna(axis=0))
print(d.dropna(axis=1))
print(d.dropna(axis=0, how='all'))

     A       C     f
0  1.0    2.00   NaN
1  3.0    0.25   2.5
2  NaN  100.00 -15.0
     A     C    f
1  3.0  0.25  2.5
     A     C    f
1  3.0  0.25  2.5
        C
0    2.00
1    0.25
2  100.00
     A       C     f
0  1.0    2.00   NaN
1  3.0    0.25   2.5
2  NaN  100.00 -15.0

In [48]:
print(d.fillna(method='ffill',axis=1))
print(d.fillna(method='bfill', axis=1))

     A       C     f
0  1.0    2.00   2.0
1  3.0    0.25   2.5
2  NaN  100.00 -15.0
       A       C     f
0    1.0    2.00   NaN
1    3.0    0.25   2.5
2  100.0  100.00 -15.0

In [68]:
# 多级索引
index = [('成都', 2018), ('成都', 2019), ('重庆', 2018), ('重庆', 2019), ('昆明', 2018), ('昆明', 2019)]
value = [798, 819, 3021, 3310, 665, 646]
idx = pd.MultiIndex.from_tuples(index)
print(idx)
pop = pd.Series(value, index=idx)
print(pop)
print(pop[:, 2019])

MultiIndex(levels=[['成都', '昆明', '重庆'], [2018, 2019]],
           labels=[[0, 0, 2, 2, 1, 1], [0, 1, 0, 1, 0, 1]])
成都  2018     798
    2019     819
重庆  2018    3021
    2019    3310
昆明  2018     665
    2019     646
dtype: int64
成都     819
重庆    3310
昆明     646
dtype: int64

In [73]:
pop_df = pop.unstack()
print(pop_df)

    2018  2019
成都   798   819
昆明   665   646
重庆  3021  3310

In [77]:
pop_df = pd.DataFrame({'总人口': pop, 
                       '18岁以上人口': [534, 533, 2490, 2488, 455, 467]})
print(pop_df.unstack())
pop_df['占比'] = pop_df['18岁以上人口'] / pop_df['总人口']
print(pop_df.unstack())

     总人口       18岁以上人口
    2018  2019    2018  2019
成都   798   819     534   533
昆明   665   646     455   467
重庆  3021  3310    2490  2488
     总人口       18岁以上人口              占比
    2018  2019    2018  2019      2018      2019
成都   798   819     534   533  0.669173  0.650794
昆明   665   646     455   467  0.684211  0.722910
重庆  3021  3310    2490  2488  0.824230  0.751662

In [92]:
# 创建多级索引
df = pd.DataFrame(np.random.randint(100, size=(6,3)), 
                  index=[['a', 'a', 'b', 'b', 'c', 'c'], [1, 2, 1, 2, 1, 2]], 
                 columns=['data1', 'data2', 'data3'])
df.index.names = ['year', 'data']
print(df)

           data1  data2  data3
year data
a    1        16     86      9
     2        53      8     50
b    1         8     64     86
     2        55     52      2
c    1        47      1     53
     2        81     99     98

In [2]:
# 创建多级行索引和多级列索引
index = pd.MultiIndex.from_product([[2018, 2019], [1,2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['张三', '李四', '王五'], ['HR', 'TEMP']], names=['subject', 'type'])
data = np.abs(np.round(np.random.randn(4, 6)*10, 2))
heal_data = pd.DataFrame(data, index=index, columns=columns)
print(heal_data)
print(heal_data['王五'])
print(heal_data['王五','HR'])
print(heal_data.iloc[:,0:1])

NameError: name 'pd' is not defined