In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
rng = np.random.RandomState(42)
x = rng.rand(1E6)
y = rng.rand(1E6)
%timeit x + y

TypeError: 'float' object cannot be interpreted as an integer

In [11]:
nrows, ncols = 100000, 100
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols)) for i in range(4))
%timeit df1 + df2 + df3 + df4

131 ms ± 16.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit pd.eval('df1 + df2 + df3 + df4')

56.2 ms ± 1.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [13]:
np.allclose(df1 + df2 + df3 + df4, pd.eval('df1 + df2 + df3 + df4'))

True

In [16]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))

In [22]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
%timeit result1
%timeit result2
np.allclose(result1, result2)
print(result1)

42.2 ns ± 1.57 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
31.5 ns ± 1.5 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
              0            1            2
0    -24.118644 -1323.546689  -324.347167
1   -659.535438  -872.309261 -1110.644407
2   -233.046008  -408.187447  -824.710879
3   -637.978373 -1450.313752 -1309.606516
4   -638.565445  -333.952637  -791.909091
5   -747.292135  -671.195402  -980.720648
6   -312.196097  -947.538462 -1272.208609
7   -480.465201  -561.924448  -488.711297
8  -1968.048387  -385.236449 -1077.548980
9  -1418.544335  -217.005175  -966.527665
10  -758.962343  -704.532436  -554.377320
11  -889.152104  -497.076763  -137.458509
12  -184.338235  -708.557423  -564.227605
13  -805.303541 -1414.174825 -1039.826446
14 -1185.488203 -1082.085147   -74.257143
15  -651.826325   -75.979006 -1094.672269
16 -1389.770323 -1050.501490  -673.396429
17  -439.790499 -1082.986779  -634.816118
18  -855.533762  -878.400000  -977.978495
19  -839.742919 -1130.489672 -1377.075508
20 -1365.179104  -681.575945  -872.101818
21 -1137.140056  -969.998180  -896.061836
22  -777.666998  -207.726508  -328.091421
23 -1256.640919  -460.713076  -578.585117
24  -860.866029 -1383.805147  -990.525828
25 -1377.627389 -1138.536604  -863.711558
26   -93.429288  -858.826631 -1387.915636
27  -482.613445 -2028.689655  -982.855814
28  -683.853377  -762.503268  -693.551783
29 -2302.078571  -110.728470   -94.371429
..          ...          ...          ...
70   -55.020645  -436.533053  -152.917526
71  -101.362069  -320.742188  -968.516456
72  -308.841121  -700.247672  -332.359413
73  -727.512786  -601.719317  -297.093023
74 -1098.780928 -1378.376238 -1883.703629
75  -833.292709 -1133.181818 -1028.278689
76  -398.483660  -720.749481  -627.098992
77  -769.753086  -888.897541 -1444.250000
78   -93.975610  -576.713163  -166.068066
79  -708.280641 -1143.908772 -1198.901460
80  -353.958333  -817.301775  -915.744728
81  -718.382450  -230.370546  -263.721557
82  -958.858502  -119.989540  -796.209424
83  -526.718750  -850.046647  -303.333333
84  -567.826531  -750.011299 -1242.544601
85  -531.374297  -667.270142 -1200.834951
86  -893.238095  -982.144086  -305.994778
87  -781.534214  -747.438991  -696.175723
88 -1038.115589 -1019.862069  -372.134328
89  -389.633040 -1024.025216 -1287.127290
90 -1098.720930  -474.454855 -2113.151803
91  -838.176471  -109.285096 -1445.788551
92 -1115.320796  -995.501288 -1040.285054
93  -601.515188 -1427.331707  -286.110313
94  -510.333333  -952.699422  -601.029240
95  -902.588936 -1346.482010 -1686.802721
96 -1062.864322 -1033.819089 -1061.884722
97  -881.189655  -352.372400  -291.426610
98  -810.811784  -670.511236  -323.263482
99  -743.826087  -546.232338  -402.409639

[100 rows x 3 columns]

In [19]:
result3 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result4 = pd.eval('df1 < df2 <= df3 != df4')
%timeit result3
%timeit result4
np.allclose(result3, result4)

34.3 ns ± 1.21 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
31 ns ± 0.602 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

True

In [21]:
result5 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result6 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
%timeit result5
%timeit result6
np.allclose(result5, result6)

40.7 ns ± 9.6 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
33.8 ns ± 1.28 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

True

In [23]:
result7 = df2.T[0] + df3.iloc[1]
result8 = pd.eval('df2.T[0] + df3.iloc[1]')
%timeit result7
%timeit result8
np.allclose(result7, result8)
print(result8)

32.2 ns ± 1.18 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
36.4 ns ± 1.01 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
0     729
1     937
2    1243
dtype: int32

In [30]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A','B','C'])
df.head()
# print(pd.eval("(df.A + df.B)/(df.C-1)"))

          A         B         C
0  0.581354  0.090852  0.638416
1  0.338664  0.215174  0.502761
2  0.963526  0.385638  0.000881
3  0.674821  0.715988  0.746546
4  0.560630  0.146158  0.130992

In [32]:
df.eval('D=(A+B)/C', inplace=True)
print(df.head())

          A         B         C            D
0  0.581354  0.090852  0.638416     1.052929
1  0.338664  0.215174  0.502761     1.101593
2  0.963526  0.385638  0.000881  1530.875139
3  0.674821  0.715988  0.746546     1.862994
4  0.560630  0.146158  0.130992     5.395638

In [33]:
df.eval('D=(A-B)/C', inplace=True)
print(df.head())

          A         B         C           D
0  0.581354  0.090852  0.638416    0.768311
1  0.338664  0.215174  0.502761    0.245622
2  0.963526  0.385638  0.000881  655.720664
3  0.674821  0.715988  0.746546   -0.055144
4  0.560630  0.146158  0.130992    3.164093

In [34]:
column_mean = df.mean(1)
# print(column_mean)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')

0        0.519733
1        0.325555
2      164.267677
3        0.520553
4        1.000468
5        1.038097
6        0.482191
7        0.468522
8        0.312661
9        0.524624
10      -0.663802
11       0.643146
12       0.546062
13       0.471455
14      -0.304586
15       0.668410
16       0.810697
17       0.288902
18       0.284909
19       0.887671
20       0.505340
21       0.269268
22      -0.067542
23       0.464702
24       0.561937
25       0.624473
26      -0.945200
27      -1.212861
28       0.424827
29       0.536443
          ...
970      0.266986
971     -0.289606
972      0.166490
973      0.373769
974      0.289267
975      0.690384
976      0.200026
977      0.550525
978      0.711112
979      0.311224
980      0.226417
981      0.515839
982     -0.577672
983      0.614927
984     -1.775794
985      0.134900
986      0.338037
987      0.181513
988      0.163435
989      0.223579
990      0.632122
991      0.341839
992      0.483047
993      0.230277
994      0.204477
995      0.378042
996      0.113498
997     -0.059169
998      0.364198
999      0.372625
Length: 1000, dtype: float64